@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-brown: #602312;
  --brand-beige: #fffaf1;
  --brand-beige-2: #f7f9f9;
  --brand-light: #c75205;
  --primary-white: #fbf5f1;
  --gray-paragraph: #384633;
  --poppins: 'Poppins', sans-serif;
  --dm-sans: 'DM Sans', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 1500px;
}

.transition-header {
  transition: 0.3s ease-in-out;
}

.headerNoActivate {
  @apply flex font-poppins justify-between bg-brand-brown text-primary-white w-full h-[72px] items-center px-6 text-[20px] transition-header fixed z-10;
}

.headerActivate {
  @apply flex font-poppins justify-between bg-brand-light text-primary-white w-full h-[72px] items-center px-6 text-[20px] transition-header fixed z-10;
}

.animateMenu {
  animation: animateMenu 0.5s ease-in-out;
}

@keyframes animateMenu {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
